* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.wrapper, .item-wrapper {
    border: 1px solid blue;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap:100px
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;

}

.name {
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
