doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div=guitar.name
        div=guitar.description
        form(action=`/updateguitar/${guitar.id}`, method="post") 
            input(type="number" value=guitar.num_in_stock name='num_in_stock')
            button Update
        a(href="/") Home