doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inventory
        style
            include ./stylesheets/index.css
        
    body 
        .header-wrapper
            h1 Inventory
            a(href='/new') 
                button Add Guitar
            a(href='/new')
                button Add Category
        .wrapper 
            each item in items
                a(href=item.url) 
                    .item-wrapper 
                        .name= item.name 
                        div= item.description