doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inventory
    body 
        h1 Inventory
        .wrapper 
            each item in items
                div=item.name
        