doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inventory
        style
            include ./stylesheets/index.css
        
    body 
        .header-wrapper
            h1 Inventory
            a(href='/newguitar') 
                button Add Guitar
            a(href='/newcategory')
                button Add Category 
        block newForm
        .wrapper 
            each guitar in guitars
                a(href=guitar.url) 
                    .item-wrapper 
                        .name= guitar.name 
                        div= guitar.description
                        div= '$'+guitar.price